= form_for(@page) do |f|

  %p
    = f.label :name
    = f.text_field :name
  
  %p
    - unless @page.new_record?
      = link_to 'Edit mode', '#', :id => 'write'
      = link_to 'Preview mode', preview_page_path(@page), :id => 'preview'
    #write_area
      = f.textile_editor :body
    #preview_area.hide
  
  %p
    = f.label 'Describe this change (optional)'
    = f.text_field :change_comment
    
  .actions
    = f.submit
    = cancel_link
  
  = raw(textile_editor_initialize(:framework => :jquery))