%h4
  = "Page name: #{@page.name}"
  = link_to '(Edit)', edit_page_path(@page)
  = link_to '(Destroy)', @page, :remote => true, :confirm => 'Are you sure?', :method => :delete

%hr

= raw(@page.content)

%hr