!!!
%html
  %head
    %title Socdoc
    = raw ajaxlibs_include :jquery
    = include_stylesheets :common
    = include_javascripts :common
    = csrf_meta_tag
  %body{:id => bodytag_id}
    #container
      #flash_notice{:style => 'display:none;'}= flash[:notice]
      
      #toc.span-12= render :partial => 'pages/index'
      #content.span-12.last= yield
    