!!!
%html
  %head
    %title Socdoc
    = raw ajaxlibs_include :jquery
    = include_stylesheets :common
    = include_javascripts :common
    = csrf_meta_tag
  %body
    #flash_notice{:style => 'display:none;'}= flash[:notice]
    = render :partial => 'pages/index'
    = yield
    